www.cryptag.org {
    root .

    redir 302 {
        /donate    https://www.patreon.com/cryptag
    }
}
cryptag.org {
    redir https://www.cryptag.org{uri}
}

share.cryptag.org {
    proxy / localhost:8000
}
